{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href='/koskas1_app/'>
    <img width="
    70" class="logo" alt="accueil" title="page d'accueil" src="{% static 'images/logo_kf.jpg' %}">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link btn btn-primary" style="color: white; font-family: Arial Black, Gadget, sans-serif" href="/koskas1_app/nos_prestation"  title="prestations">Nos prestations</a>
      </li>
      <li class="nav-item pl-3">
        <a class="nav-link btn btn-primary" href="/koskas1_app/references" style="color: white; font-family: Arial Black, Gadget, sans-serif" title="references">Réfèrences</a>
      </li>
      <li class="nav-item pl-3">
        <a class="nav-link  btn btn-primary" href="/koskas1_app/" title="numero de telephone" style="color: white;  font-family: Arial Black, Gadget, sans-serif" title="numero de telephone" >tel: 0140051111</a>
      </li>
      <li class="nav-item pl-3">
        <a class="nav-link  btn btn-primary"  style="color: white;  font-family: Arial Black, Gadget, sans-serif" href="mailto:0140051111@wanado.fr?subject=Merci de bien  nous laisser vos coordonées" title="contact-us">Email de contact</a>
      </li>
    </ul>
  </div>
</nav>
