<!DOCTYPE html>
{% load static %}
<html>
{% include 'partials/head.html'%}
<body class="back" style="
background-color: white;
font-size: 25px;
background-size: cover;
position: relative;
background-attachment: fixed;
background-position: center center;
background-image: url('{% static 'images/architect.jpg' %}');
height: 650px;
">

<header>{% include 'partials/navbar.html'%}</header>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="row" style="padding-right: 150px;">
        <h1 class="display-4 mt-3" align="center" style="color: #459dff; font-family: Arial Black, Gadget, sans-serif">Koskas et Fils<br>REPROGRAPHIE</h1>
        <h1 style="padding-top: 15px;" >Tirage de plan minute</h1>
        <h3 align="center">envoyez vos fichier par Email, venez les chercher dans la demi-heure.</h3>
      </div>
    </div>
    <div class="col">
      <h5 class="mt-5" align="center" style="font-size: 35px;
      color: #f72904; font-family: 'Comic Sans MS', cursive; font-weight: bold; ">TIRAGE DE PLAN GRAND FORMAT <br>IMPRESION NUMERIQUE <br>SCANERISATION</h5>
    </div>
  </div>
  <div class="col mt-5" align="center">
    <div class="card" align="center" style="width: 18rem; color: #459dff opacity: 0.9;">
      <img src="http://{{ request.get_host }}/{{ product.image }}" class="card-img-top" style="width: px;" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}.</p>
        <a href="{% url 'koskas1_app:nos_prestation' %}" style="margin-left: 1px;" class="btn btn-primary">retour aux prestations</a>
        <a style="margin-left: 1px; margin-top: 15px; color: white" class="btn btn-primary" href="{% url 'koskas1_app:index' %}">Retour a l'acceuil</a>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
{% include 'partials/footer.html'%}
</body>
</html>